{% extends 'index.html' %}


{% block content %}
<div class="row">
    <div class="col s12 m5">
        <div class="wrap_content">
            <a href="{% url 'create_export' %}" class="waves-effect waves-light btn-large green darken-3">Ajouter une exportation</a>
        </div>
    </div>


<table>
    <thead>
    <tr>
        <th>Date</th>
        <th>Fruit</th>
        <th>Calibre</th>
        <th>Nombre de Palette</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    {% for exp in listExport %}
    <tr>
        <td>{{ exp.dateexport }}</td>
        <td>{{ exp.fruitexport }}</td>
        <td>{{ exp.sizeexport }}</td>
        <td>{{ exp.nbpalletexport }}</td>
        <td><a href=" {% url 'update_myexport' exp.numexport %}" class="waves-effect btn-floating grey"><i class="material-icons">edit</i></a><a href=" {% url 'delete_export' exp.numexport %}" class="waves-effect btn-floating red"><i class="material-icons">delete</i></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}