{% extends 'index.html' %}

{% block content %}

<div>
    <div class="collection with-header">
        <div class="collection-header"><h4>Les producteurs de mon local</h4></div>
    {% for productor in listMember %}
    <div class="collection-item">
        <ul>
            <li><a>{{ productor.lastnamemember }}  {{ productor.firstnamemember }}</a></li>
            <li><a>Telephone: {{ productor.telephonemember }}</a></li>
        </ul>

    </div>
    {% endfor %}
    </div>
</div>

{% endblock %}