{% extends 'index.html' %}


{% block content %}
<div>
    <div class="collection with-header">
        <div class="collection-header"><h4>Les locaux</h4></div>
            {% for local in listRoom %}
                <div class="collection-item">
                    <ul>
                        <li><a>Nom : {{ local.nameroom }}</a></li>
                        <li><a>Adresse : {{ local.address1room}}, {{ local.address2room}} {{ local.cityroom}} {{ local.postalcoderoom}}</a></li>
                        <li><a>Capacité : {{local.capacityroom }} palettes</a></li>
                        <li><a href="{% url 'read_memberbyroom' local.numroom %}" class="btn green darken-3">Voir les producteurs</a></li>
                    </ul>

                </div>
            {% endfor %}
        </div>
</div>

{% endblock %}