{% extends 'index.html' %}

{% block content %}
<body>
    <div class="block center">
        <div class="col s12 m5">
            <a class="waves-effect waves-light btn-large">Mon local</a>
            <a class="waves-effect waves-light btn-large">Mes infos</a>
        </div>
        <div class="col s12 m8">
        <a class="waves-effect waves-light btn-large">Mon planning</a>
        <a class="waves-effect waves-light btn-large">Mes exportations</a>
        </div>
    </div>

</body>
{% endblock %}