{% extends 'index.html' %}

{% block content %}
<body>
    <div class="block center">
        <h5>Bienvenue {{user.first_name}} {{user.last_name}}</h5>
        <div class="col s12 m5">

            <a href="{% url 'myaccount' %}" class="waves-effect waves-light btn-large green darken-3">Mes infos</a>
        </div>
        <div class="col s12 m5">
        <a href="{% url 'myslot' %}" class="waves-effect waves-light btn-large green darken-3">Mes créneaux horaires</a>
        <a href="{% url 'myexport' %}" class="waves-effect waves-light btn-large green darken-3">Mes exportations</a>
        </div>
    </div>

</body>
{% endblock %}