{% extends 'index.html' %}

{% block content %}
<div class="row">
    <div class="col s12 m5">
        <h3> {{ utilisateur.first_name }} {{utilisateur.last_name }} </h3>
        <ul>
            <li>Email : {{ utilisateur.email }}</li>
            <li>Téléphone : {{ producteur.telephoneproducteur }}</li>
            <li>Date de naissance : {{ producteur.datenaissanceproducteur }}</li>
            <li>Adresse : {{ producteur.adresse1producteur }} {{ producteur.adresse2producteur }}, {{ producteur.codepostalproducteur }} {{producteur.villeproducteur }}</li>
        </ul>
        <div class="wrap_content">
            <a class="waves-effect btn-small grey">Changer de mot de passe</a>
            <a href="#"class="waves-effect btn-floating green"><i class="material-icons">edit</i></a>
            <a class="btn-floating red"><i class="material-icons">delete</i></a>
            <a href="#" class="btn-floating "><i class="material-icons">loyalty</i></a>
        </div>
    </div>


</div>

{% endblock %}