{% extends 'index.html' %}

{% block content %}
<div class="row">
    <div class="col s12 m5">
        <h3> {{ utilisateur.first_name }} {{utilisateur.last_name }} </h3>
        <ul>
            <li>Email : {{ utilisateur.email }}</li>
            <li>Téléphone : {{ member.telephonemember }}</li>
            <li>Date de naissance : {{ member.birthdaydatemember }}</li>
            <li>Adresse : {{ member.address1member }} {{ member.address2member }}, {{ member.postalcodemember }} {{member.citymember }}</li>
            <li>Mon local: {{room.numroom.nameroom}}</li>
        </ul>
        <div class="wrap_content">
            <a href="{% url 'read_myroom' %}" class="waves-effect green darken-3">Mon local</a>
            <a href="{% url 'update_member' %}" class="waves-effect btn-floating green darken-3"><i class="material-icons">edit</i></a>
            <a href="#" class="btn-floating red"><i class="material-icons">delete</i></a>
        </div>
    </div>


</div>

{% endblock %}