{% extends 'index.html' %}


{% block content %}
<table>
    <thead>
    <tr>
        <th>Date</th>
        <th>Fruit</th>
        <th>Calibre</th>
        <th>Nombre de Palette</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    {% for export in exports %}
    <tr>
        <td>{{ export.dateexport }}</td>
        <td>{{ export.fruitexport }}</td>
        <td>{{ export.sizeexport }}</td>
        <td>{{ export.nbpalletexport }}</td>
        <td><a href="#"class="waves-effect btn-floating grey"><i class="material-icons">visibility</i></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}