{% extends 'index.html' %}


{% block content %}
<table>
    <thead>
    <tr>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Fruit</th>
        <th>Nombre de Palette</th>
    </tr>
    </thead>

    <tbody>
    {% for export in exports %}
    <tr>
        <td>{{ export.begindateslot }}</td>
        <td>{{ export.enddateslot }}</td>
        <td>{{ export.fruitexport }}</td>
        <td>{{ export.nbpalletexport }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}