{% extends 'index.html' %}


{% block content %}
<div class="row">
    <div class="col s12 m5">
        <h3> Mon local </h3>
        <ul>
            <li>Adresse : {{ room.address1room }} {{ room.address2room }}, {{ room.postalcoderoom }} {{room.cityroom }}</li>
            <li>Capacité : {{room.capacityroom }}</li>
        </ul>
        <div class="wrap_content">
            <a href="#" class="waves-effect btn-small green darker-3">Voir le responsable</a>
            <a href=" {% url 'read_memberbyroom' %}" class="waves-effect btn-small green darker-3">Voir les agriculteurs</a>
        </div>
    </div>


</div>

{% endblock %}