{% extends 'index.html' %}

{% block content %}
<div class="page">
  <div class = "formulaire">
    <div class="blocCentrer">
      <form method="post" action="">
          {% csrf_token %}
          <div class = "case">
            <label for="id_first_name">Prénom :</label>
            <textarea type="text" class="materialize-textarea" name="first_name" required id="id_first_name">{{ member.nummember.first_name }}</textarea>
          </div>

          <div class = "case">
            <label for="id_last_name">Nom :</label>
            <textarea type="text" class="materialize-textarea" name="last_name" required id="id_last_name">{{ member.nummember.last_name }}</textarea>
          </div>

          <div class = "case">
            <label for="id_email">E-mail :</label>
              <textarea type="text" class="materialize-textarea" name="email" required id="id_email">{{ member.nummember.email }}</textarea>
          </div>

          <div class = "case">
            <label for="id_telephoneproducteur">Téléphone :</label>
            <textarea type="text" class="materialize-textarea" name="telephoneproducteur" required id="id_telephoneproducteur">{{ member.telephonemember }}</textarea>
          </div>

          <div class = "case">
            <label for="id_codepostalproducteur">Code Postal :</label>
            <textarea type="text" class="materialize-textarea" name="codepostalproducteur" required id="id_codepostalproducteur">{{ member.postalcodemember }}</textarea>
          </div>

          <div class = "case">
            <label for="id_villeproducteur">Ville :</label>
            <textarea type="text" class="materialize-textarea" name="villeproducteur" required id="id_villeproducteur">{{ member.citymember }}</textarea>
          </div>

          <div class = "case">
            <label for="id_adresse1producteur">Adresse1 :</label>
            <textarea type="text" class="materialize-textarea" name="adresse1producteu" required id="id_adresse1producteur">{{ member.address1member }}</textarea>
          </div>
          <div class = "case">
            <label for="id_adresse2producteur">Adresse2 :</label>
            <textarea type="text" class="materialize-textarea" name="adresse2producteu" required id="id_adresse2producteur">{{ member.address2member }}</textarea>
          </div>

          <div class="boutonForm">
            <button class ="btn green darken-3" type="submit" >Modifier mes informations personnelles</button>
          </div>

      </form>

    </div>

  </div>

</div>

{% endblock %}